/* Styles for the entire page */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/loginbg.png); /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f5f5f5;
}

/* Styles for the navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2180C1;
    color: white;
    padding: 10px;
    width: 100%;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    font-size: 35px; /* Adjust the font size as needed */
    margin: 0; /* Remove default margin from h1 */
}

.nav-button {
	font-size: 22px; /* Adjust the font size as needed */
    background-color: #2180C1;
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #5597C4;
}

/* Styles for the centered login box */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust the width as needed */
    margin-top: 20px;
}

.login h2 {
    margin-bottom: 20px;
	
	
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group label {
    margin-bottom: 5px;
}

.input-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.login button {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login button:hover {
    background-color: #0056b3;
}

.content-wrapper {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust the width as needed */
    margin: 200px auto 0; /* Adjust the margin for vertical positioning */
}

/* Styles for the logo image */
.logo-image {
    width: 50px; /* Adjust the width of the logo as needed */
    height: auto;
    margin-left: 10px; /* Adjust the spacing between the logo and H1 tag */
}